body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    background-image: linear-gradient(-45deg, #292929, #121212);
    background-attachment: fixed;
}
.intro-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333; 
    z-index: 1000; 
}
.account-menu {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    padding: 12px;
    border-radius: 35px;
    transition: background-color 0.3s, color 0.3s;
}

.account-logo {
    font-size: 24px;
    margin-right: 12px;
}

.account-info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.account-name {
    font-weight: bold;
}

.account-email {
    font-size: 14px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
}

.account-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    padding: 20px;
    width: 250px;
    z-index: 1;
}

.account-menu:hover .account-options {
    display: block;
}

.account-options li {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
}

.account-options li:hover {
    background-color: #f4f4f4;
}

/* Light Mode Styles */
.light-mode .account-menu {
    background-color: #4285f4;
    color: #fff;
}

.light-mode .account-menu:hover {
    background-color: #3367d6;
}

.light-mode li{
    color: #5A5A5A;
}
.light-mode .account-options {
    background-color: #fff;
}

/* Dark Mode Styles */
.dark-mode .account-menu {
    background-color: #181818;
    color: #fff;
}

.dark-mode .account-menu:hover {
    background-color: #333;
}

.dark-mode .account-options {
    background-color: #292929;
}


h1 {
    margin-top: 10px;
    font-size: 4em;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
    background-size: 200% auto;
    color: transparent;
    font-family: revert-layer;
    animation: textclip 2s linear infinite;
}

.controls-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.language-logo {
    font-size: 25px;
    margin-right: 8px;
    padding: -10px;
}

.language-container {
    position: relative;
    display: inline-block;
}

.language-container::before {
    font-size: 15px;
    color: #ccc;
    margin-right: 5px;
    transition: transform 0.3s;
}

.language-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: collapse;
    transform: translateY(-20px);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.language-container:hover::before {
    transform: rotate(180deg);
}

.language-container:hover .language-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dark-mode .language-dropdown a{
    color: white;
    text-align: center;
    text-decoration: none;
}


.light-mode .language-dropdown a{
    color: blue;
    text-align: center;
    text-decoration: none;
}
.language-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    overflow: hidden;
}

/* Light Mode Styles for Language Dropdown */
.light-mode .language-dropdown {
    background-color: #fff; /* Adjust as needed */
}

.light-mode .language-dropdown li:hover {
    background-color: #f0f0f0; /* Adjust as needed */
}

/* Dark Mode Styles for Language Dropdown */
.dark-mode .language-dropdown {
    background-color: #333; /* Adjust as needed */
    color: #fff;
}

.dark-mode .language-dropdown li:hover {
    background-color: #555; /* Adjust as needed */
}

.language-dropdown li {
    padding: 14px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.language-dropdown li:last-child {
    border-bottom: none;
}

.language-dropdown li:hover {
    background-color: #e0e0e0; /* Adjust as needed */
}

/* Add a subtle animation to the language dropdown */
@keyframes fadeInOut {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.language-dropdown.fade-in-out {
    animation: fadeInOut 0.3s ease;
}

.light-mode h1 {
    background-image: linear-gradient(
        to right,
        #ff9933 0%,
        #ff9933 33.33%,
        #fff 33.33%,
        #fff 66.66%,
        #138808 66.66%,
        #138808 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark-mode h1 {
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

#toggleModeSwitch {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background-color: #ccc;
    outline: none;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
}

#toggleModeSwitch:checked {
    background-color: #4285f4;
}

#toggleModeSwitch::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(2px, 2px);
    transition: transform 0.3s;
}

#toggleModeSwitch:checked::before {
    transform: translate(20px, 2px);
}

#toggleModeLabel {
    color: #fff; 
    font-size: 14px;
    transition: color 0.3s; 
}

.light-mode #toggleModeLabel {
    color: #000; 
}

.container {
    max-width: 900px;
    margin: 80px auto;
    padding: 90px;
    border-radius: 100px;
    box-shadow: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.light-mode {
    background-color: #fff;
    color: #181818;
    background-image: linear-gradient(-45deg, #f4f4f4, #A9A9A9);
    background-attachment: fixed;
}

.dark-mode {
    background-color: #181818;
    color: #fff;
    background-image: linear-gradient(-45deg, #292929, #121212);
    background-attachment: fixed;
}

.search-container {
    position: relative;
}

#suggestionList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    border-radius: 30px;
    width: 100%; /* Set the width to 100% */
    max-width: 1000px; /* Set a maximum width if needed */
    background-color: #fff; /* Adjust as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 2; /* Ensure it's above other elements */
}

#suggestionList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

#suggestionList li:hover {
    background-color: #f4f4f4;
}

.light-mode #suggestionList {
    background-color: #eee; /* Adjust as needed for light mode */
    color: #333;
}

.dark-mode #suggestionList {
    background-color: #333; /* Adjust as needed for dark mode */
    color: #fff;
}

#searchInput:hover + #suggestionList {
    display: block;
}
.dark-mode button{
    background-color: #5A5A5A;
    transition: 0.3s;
}
.light-mode button{
    background-color: #4285f4;
}
button {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: filter 0.3s, transform 0.3s;    
}

.dark-mode button:hover{
    background-color: #818589;
}
button:hover {
    background-color: #3367d6;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.3s;
}

.light-mode .search-bar {
    background-color: #eee;
}

#searchInput {
    flex: 1;
    border: none;
    background-color: transparent;
    color: #fff;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
}

.light-mode #searchInput {
    color: #333;
}

..search-bar:hover {
    background-color: #555;
}

.light-mode .search-bar:hover {
    background-color: #ddd; 
}

.dark-mode .search-bar:hover {
    background-color: #444; 
}

#searchInput:hover {
    background-color: #555;
}

.light-mode #searchInput:hover {
    background-color: #ddd;
}

.dark-mode #searchInput:hover {
    background-color: #444; 
}


.search-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search-icons img {
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.search-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: filter 0.3s, transform 0.3s;
}

#searchIcon,
#micIcon {
    filter: invert(100%) grayscale(100%);
    background-color: transparent;
}

#searchIcon {
    background-image: url('assests/search.png'); 
}

#micIcon {
    background-image: url('assests/mic.png');
}

.light-mode #searchIcon,
.light-mode #micIcon {
    filter: invert(0%) grayscale(100%);
}

.dark-mode #searchIcon,
.dark-mode #micIcon {
    filter: invert(100%) grayscale(100%);
}
.icon:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em; 
    }

    .container {
        padding: 35px;
    }

    .search-bar {
        padding: 10px;
    }

    #suggestionList {
        width: 100%; 
    }

    .icon {
        width: 16px;
        height: 16px;
    }
}
/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #111; /* Adjust as needed for dark mode */
    color: #ggg; /* Adjust as needed for dark mode */
    padding: 20px;
    text-align: center;
}

.footer-level-1 {
    margin-bottom: 10px;
}

.footer-level-1 img {
    width: 20px; /* Adjust as needed */
    margin-left: 5px;
}

.footer-level-2 {
    display: flex;
    justify-content: center;
}

.footer-level-2 a {
    color: #fff; 
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.light-mode .footer-level-2 a {
    color: #545454; 
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}
.footer-level-2 a:hover {
    color: #4285f4;
}

.light-mode footer {
    background-image: linear-gradient(-45deg, #f4f4f4, #A9A9A9); /* Adjust as needed for light mode */
    color: #333; 
}
.light-mode .footer-level-2 a:hover {
    color: #3367d6; 
}

@media screen and (max-width: 768px) {
    .container {
        padding: 60px;
    }

    .language-logo {
        font-size: 20px;
    }

    .profile-picture {
        width: 30px;
        height: 30px;
    }

    .search-bar {
        padding: 8px;
    }

    #searchInput {
        font-size: 14px;
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    footer {
        padding: 15px;
    }

    .footer-level-1 img {
        width: 16px;
    }

    .footer-level-2 a {
        font-size: 12px;
        margin: 0 8px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 30px;
    }

    h1 {
        font-size: 2em;
    }

    .language-logo {
        font-size: 18px;
    }

    .profile-picture {
        width: 25px;
        height: 25px;
    }

    .search-bar {
        padding: 6px;
    }

    #searchInput {
        font-size: 12px;
    }

    .icon {
        width: 14px;
        height: 14px;
    }

    footer {
        padding: 10px;
    }

    .footer-level-1 img {
        width: 14px;
    }

    .footer-level-2 a {
        font-size: 10px;
        margin: 0 6px;
    }
}
.trending-topics {
    display: none; /* Initially hide on larger screens */
    text-align: center;
    padding: 20px;
    background-color: #333; /* Adjust as needed */
    color: #fff;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .trending-topics {
        display: block; /* Show on smaller screens */
        margin-top: 40px; /* Add some spacing from the content */
        border-radius: 40px;
        width: 80%;
        margin-left: -25px;
    }

    /* Adjust the styles for 480px width */
    .trending-topics h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .trending-topic-list {
        list-style-type: none;
        padding: 0;
    }

    .trending-topic-item {
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 20px;
        background-color: #555; /* Adjust as needed */
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .trending-topic-item:hover {
        background-color: #777; /* Adjust as needed */
    }

    /* Adjust footer styles for 480px width */
    footer {
        padding: 15px;
    }

    .footer-level-1 img {
        width: 16px;
    }

    .footer-level-2 a {
        font-size: 12px;
        margin: 0 8px;
    }
}